---

---
<header class="flex flex-row border-b-1 p-5 h-[var(--header-height)] items-center">
    <p class="w-1/4 font-bold uppercase">Eigenform</p>
</header>

<style>
    p {
        font-size: clamp(2rem, 3vw, 2.5rem);
    }
</style>