---
import Baselayout from "../layouts/Baselayout.astro";
import P5Sketch from "@components/sketches/P5Sketch.astro"
---

<Baselayout title="P5Sketch">

  <div class="w-screen h-screen">
    <P5Sketch sketchPath={"../../sketches/P5/testsketch"}/>
  </div>
</Baselayout>
