---
import ImageTextLink from "@components/common/ImageTextLink.astro";
import Baselayout from "../layouts/Baselayout.astro";
import GenerativeGarden from "../assets/images/generative-garden.png";
import StoneGrowth from "@assets/images/stone-growth.png";
import EyeIcon from "../../public/icons/eye_icon.svg";
---

<Baselayout title="P5Sketch">
  <main>
    <!-- Hero Section -->
    <section
      class="hero flex flex-col items-start lg:h-auto max-lg:h-[calc(40vh-var(--header-height))] max-lg:justify-between"
    >
      <h1 class="uppercase">Generative Gallery</h1>
      <div class="flex flex-row justify-between w-full">
        <p class="w-1/2">
          A <strong>collection</strong> of creative coding projects.
        </p>
        <div class="w-1/2 text-end">
          <!-- Maybe make these to filter links later on -->
          <p>P5.js</p>
          <p>Three.js</p>
          <p>Openframeworks</p>
        </div>
      </div>
    </section>
    <div class="w-screen border-t-1"></div>
    <!-- Image gallery -->
    <section class="home-gallery">
      <ImageTextLink
        class={"large"}
        image={GenerativeGarden}
        title="Generative Garden"
        alt="an Image of a generative garden"
        excerpt="This is a generative garden, feel free to enter."
        link="/"
      />
      <ImageTextLink
        class={"top"}
        image={StoneGrowth}
        title="Generative Garden"
        alt="an Image of a generative garden"
        excerpt="This is a generative garden, feel free to enter."
        link="/"
      />
      <ImageTextLink
        class={"medium"}
        image={GenerativeGarden}
        title="Generative Garden"
        alt="an Image of a generative garden"
        excerpt="This is a generative garden, feel free to enter."
        link="/"
      />
      <ImageTextLink
        class={"small"}
        image={GenerativeGarden}
        title="Generative Garden"
        alt="an Image of a generative garden"
        excerpt="This is a generative garden, feel free to enter."
        link="/"
      />
      <a
        class="text-4xl text border-1 w-full h-full flex justify-center items-center"
        href=""
        ><p>See all Projects</p> <EyeIcon class="w-15 hover:w-20 ml-5" /></a
      >
    </section>
  </main>
</Baselayout>

<style>
  h1 {
    white-space: nowrap;
    font-size: clamp(1rem, 7.5vw, 8rem);
    font-weight: bold;
  }

  p {
    font-weight: 300;
  }

  strong {
    font-weight: 700;
  }

  .home-gallery {
    height: 70vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, minmax(0, 1fr)); /* fix */
    grid-template-areas:
      "large large top top"
      "large large top top"
      "large large top top"
      "large large medium small"
      "large large medium small"
      "large large medium text";
  }

  @media (max-width: 1280px) {
    .home-gallery {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, minmax(0, 1fr));
      grid-template-areas:
        "large large"
        "top medium"
        "small small"
        "text text";
    }
  }

  .home-gallery > * {
    min-width: 0;
    min-height: 0; /* allow shrink */
  }

  .home-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* crop nicely */
  }
</style>

<style is:global>
  .large {
    grid-area: large;
  }

  .top {
    grid-area: top;
  }

  .medium {
    grid-area: medium;
  }

  .small {
    grid-area: small;
  }

  .text {
    grid-area: text;
  }
</style>
